<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finally got you under my spell!</title>
    <link rel="stylesheet" href="./yes_style.css">
</head>
<body>
    <div class="container">
        <h1 class="header_text">Finally got you under my spell!</h1>
        <div class="gif_container">
            <img src="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExZWdoaHo0aXd0bXNqeW1kcGc0bG04MnZrcHplZ3ZlZXhmMmF5NnNrayZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/l0HU2sYgCZh3HiKnS/giphy.gif">
        </div>
    </div>
</body>
</html>